
@{
    ViewBag.Title = "Affiliates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent
    {
    <div style="text-align: center;" >
        <img src="../../Content/Images/2012_affiliates.png" /></div>
}

@section head
{
    <style type="text/css">
     ul {list-style-type: none;}
     .list li 
     {
         line-height: 150px;
         width: 250px;
         height: 150px;
         float: left;
         position: relative;
         text-align: center;
         display:block;
         overflow: hidden;
     }
    </style>
}
<ul class="list">
    <li><a href="http://7summitchallenge.org/"><img src="/Content/Images/7summit.png" /></a></li>
    <li><a href="http://www.winsornewton.com/"><img src="/Content/Images/WinsorNEWTON.png" /></a></li>
    <li><a href="http://adamfwatkins.com/"><img src="/Content/Images/AdamWATKINS.png" /></a></li>
    <li><a href="http://www.artsinstark.com/"><img src="/Content/Images/artsStark.png" /></a></li>
    <li><a href="http://www.catmckinleyphoto.com/"><img src="/Content/Images/CathMCKINphoto.png" /></a></li>
    <li><a href="http://www.ccad.edu/"><img src="/Content/Images/CCAD.png" /></a></li>
    <li><a href="http://www.coonrestoration.com/"><img src="/Content/Images/Coon.png" /></a></li>
    <li><a href="http://www.cyruscustom.com/"><img src="/Content/Images/CyrusFRAMING.png" /></a></li>
    <li><a href="http://www.goldenpaints.com/"><img src="/Content/Images/Golden.png" /></a></li>
    <li><a href="http://www.infocus.com/"><img src="/Content/Images/inFocus.png" /></a></li>
    <li><a href="http://julzbyalan.com/"><img src="/Content/Images/Julz.png" /></a></li>
    <li><a href="http://www.liquitex.com/"><img src="/Content/Images/liquitex.png" /></a></li>
    <li><a href="http://www.facebook.com/neosoulentertainment"><img src="/Content/Images/neoSOUL.png" /></a></li>
    <li><a href="http://patcatans.com/"><img src="/Content/Images/PatCatans.png" /></a></li>
    <li><a href="http://7summitchallenge.org/"><img src="/Content/Images/RMR.png" /></a></li>
    <li><a href="http://redwantingblue.com/"><img src="/Content/Images/RWB.png" /></a></li>
</ul>

