@{
    ViewBag.Title = "ContactConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section HeaderContent
    {
    <div style="text-align: center;" >
        <img src="/Content/Images/2012_contactHDR.png" /></div>
}
<div style="text-align: center;" >
<h1>Thank You</h1>
<p>
<b>I will be in touch with you soon</b>
</p></div>